.cards--container {
  border: 5px solid rgb(30, 23, 23);
  padding: 15px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  max-width: 300px;
  background-color: rgb(42, 32, 32);
  flex-wrap: wrap;
}