.recipe-card {
  display: flex;
  border: 5px solid lightgrey;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.card--title {
  display: flex;
  align-self: center;
  font-size: 30px;
  color: rgb(245, 223, 54);
  font-weight: 800 ;
}

.card-image {
  display: flex;
  max-height: 250px;
}

.buttons-container {
  display: flex;
  align-content: center;
}

.see--ingredients--button{
  display: flex;
  font-size: 18px;
  margin: 7px;
}

.shopping--list--button {
  display: flex;
  font-size: 18px;
  margin: 7px;
}
